.custom-input-control{
    height: 32px!important;
}
.dataTables_info, .dataTables_paginate {
    display: none;
}

.filter-pagination {
    color: #B0B7C3;
    font-size: 12px;
}

.filter-pagination select {


 }
 .pagination .next.active {
    background: #377DFF;
    color: white;
 }
 .filter-pagination {
    color: #B0B7C3;
    font-size: 12px;
 }
 .filter-pagination select{

    width: 75px;
    display: inline;
    background: #F3F3F3;
    border: none!important;
    margin: 0px 8px;
    color: #4E5D78;

}
.pagination .prev,.pagination .next{

    background: #F3F3F3;
    border-radius: 10px;
    padding: 3px 16px!important;
    font-size: 27px!important;
    line-height: 27px!important;

}

.modal {
    overflow: auto;
}

.del-img{
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
    cursor: pointer;
}

.loader{
    content: '';
    /*box-sizing: border-box;*/
    position: absolute;
    opacity: 0.6;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-top: -10px;
    margin-left: -10px;
    /*border-radius: 50%;*/
    /*  border: 2px solid #ccc;
      border-top-color: #333;*/
    animation: spinner  linear infinite;
    background: url('/images/loading2.gif')
    50% 50% no-repeat rgb(249,249,249);
    z-index: 1100;
}