.custom-input-control{
    height: 32px!important;
}
.dataTables_info, .dataTables_paginate {
    display: none;
}

.filter-pagination {
    color: #B0B7C3;
    font-size: 12px;
}

.filter-pagination select {


 }
 .pagination .next.active {
    background: #377DFF;
    color: white;
 }
 .filter-pagination {
    color: #B0B7C3;
    font-size: 12px;
 }
 .filter-pagination select{

    width: 75px;
    display: inline;
    background: #F3F3F3;
    border: none!important;
    margin: 0px 8px;
    color: #4E5D78;

}
.pagination .prev,.pagination .next{

    background: #F3F3F3;
    border-radius: 10px;
    padding: 3px 16px!important;
    font-size: 27px!important;
    line-height: 27px!important;

}

.modal {
    overflow: auto;
}

.del-img{
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
    cursor: pointer;
}

.loader{
    display: flex;
    position: fixed;
    content: '';
    opacity: 0.6;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(192, 192, 192, 0.5);
    background-image: url('/images/loading2.gif');
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1100;
}



.toggle {
    display: inline-block;
    position: relative;
    padding: 0px;
}

.toggle .toggle-checkbox {
    display: none;
}

.toggle .toggle-checkbox:checked~.toggle-label {
    background-color: #17a2b8 !important;
    color: #ffffff;
    border: 1px solid #17a2b8;
}

.toggle .toggle-label {
    margin: 0px;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    border: 1px solid #dee2e6;
    transition: all 0.3s;
    border-radius: 0.25rem;
}

.toggle .toggle-chevron {
    transition: transform 0.3s;
    cursor: pointer;
}

.toggle .toggle-checkbox:checked~.toggle-label .toggle-chevron {
    transform: rotate(90deg);
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}
  
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #2196F3;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}
  
/* Rounded sliders */
.slider.round {
    border-radius: 17px;
}
  
.slider.round:before {
    border-radius: 50%;
}

.w-40{
    width: 40px;
}